<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>我的温馨小窝</title>
    <link rel="stylesheet" href="{{static_url("css/jquery.classyleaves.min.css")}}">
    <link rel="stylesheet" href="{{static_url("css/index_1.css")}}">
    <link rel="stylesheet" href="{{static_url("css/base.css")}}">
    <link rel="stylesheet" href="{{static_url("css/luara.top.css")}}">
    <style type="text/css" abt="234">
    .blog_more a{font: 16px/40px "Microsoft YaHei";display:block;}
    .blog_more a i{ background-position:-189px  -621px; width: 11px; height: 12px; display: inline-block; margin-left: 10px;}
    </style>
</head>
<header>
  <div class="topbg">
    <ul class="topnav">
      <a href="http://www.yezismile.com/ " target="_blank">Home</a>
      <a href="/about/index" target="_blank">关于我们</a>
    </ul>
  </div>
  <div class="topbgline"></div>
  <div class="logo"></div>
  <nav id="topnav">
    <ul>
        <a href="/" title="首页" class="nav_first" id="topnav_current">首页</a>
        <a class="nav_4" href="#" title="心情随笔">心情随笔</a>
        <a class="nav_3" href="#" title="韶华追忆">韶华追忆</a>
        <a class="nav_12" href="#" title="技术分享">技术分享</a>
        <a class="nav_22" href="#" title="个人归档">个人归档</a>
        <a class="nav_16" href="#" title="Blog留言">Blog留言</a>
        <a class="nav_1" href="#" title="关于我">关于我</a>
    </ul>
  </nav>
</header>
<body>
    <article>
        <div class="l_box f_l">
            <h2>
                <span>
                    <a href="/memory/index?tag=3" target="_blank">分类一(111)</a>
                    <a href="/memory/index?tag=12" target="_blank">分类二(28)</a>
                </span>
                <b>最新</b>文章
            </h2>
        {% for one in articles %}
            <div class="blogs">
                <figure>
                    <a href="https://www.yezismile.com/index/titleinfo/id/437" title="{{one['title']}}" target="_blank">
                    <img src="https://static.yezismile.com/data/photo/day_20170830/201708301618162997_s.jpg" original="https://static.yezismile.com/data/photo/day_20170830/201708301618162997_s.jpg" style="width: 167.5px; height: 137px; display: block;" alt="记军博一行">
                    </a>
                </figure>
                <ul>
                    <h3><a href="#" title="{{one['title']}}" target="_blank"></a>{{one['title']}}</h3>
                    <p>

	                    {{one['summary']}}
                        <a href="#" target="_blank" style="color: #759b08;padding-left:5px;">[详情]</a>
                    </p>
                    <p class="autor">
                        <span class="lm f_l"><a href="/memory/index?tag=3" style="color: #759b08">分类</a></span>
                        <span class="dtime f_l">{{one['submitTime']}}</span>
                        <span class="label_bottom f_r" style="padding-left: 0;">
                            <a href="javascript:void(0)" onclick="return false;" class="yz_zan" style="cursor: default; background-position: -47px -327px; color: rgb(64, 108, 169); text-decoration: none;">{{one['pointsCount']}}</a>
                        </span>
                        <span class="viewnum f_r">浏览（{{one['viewsCount']}}）</span>
                        <span class="pingl f_r">
                            <a href="#">
				               <span >评论（{{one['pointsCount']}})</span>
                            </a>
                        </span>
                    </p>
                </ul>
            </div>
        {% end %}
        </div>
        <div class="r_box f_r">
            <div class="tit01">
                <h3>关注我</h3>
                <div class="gzwm">
                    <ul>
                        <li><a class="xlwb" href="#" target="_blank"></a></li>
                        <li><a class="txwb" href="#" target="_blank"></a></li>
                        <li><a class="wx" href="#"></a></li>
                    </ul>
                </div>
            </div>
        <div class="tit01">
        <h3>最新文章</h3>
        </div>
        <div class="links">
            <h3>友情链接</h3>
        </div>
      </div>
    </article>
</body>